{% load static %}
<center><div>
    <ul> User Detail</ul>

    {{ user.firstname }}
    <br>
    {{ user.lastname }}
    <br>
    {{ user.phone }}
    <br>
    {{ user.email}}
    <br>
    {{ user.gender }}
    <br>
    {{ user.address }}
    <br>
    {% if user.photo %}
    <img src="/media/{{ user.photo }}" alt="Smiley face" style="max-height: 150px; max-width: 120px;" class="img-fluid" width="250" height="250">
    {% else %}
        <img src="/media/default.jpg" alt="Smiley face" style="max-height: 150px; max-width: 120px;" class="img-fluid" width="250" height="250">
    {% endif %}

</div>
    <br><br><br>
    <a href="{% url 'update' user.id %}">Update_PRofile</a>
    </center>


